html{
    background-color: lightblue;
}
h1{
    color: white;
    text-align: center;
}
.country {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}
#countries-container {
  display: flex;
  flex-wrap: wrap;        
  gap: 15px;              
}
.country {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  transition: 0.25s ease;  
  cursor: pointer;          
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.country:hover {
  transform: translateY(-5px);       
  background: #e8e8e8;               
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
#filter-section {
    display: flex;
    justify-content: center;
}